body{
    background: url("../images/rapeatable-bg.png");
}

.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #ffffff;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.modal-parent-container {
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal-container {
    background-color: #ffffff;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal-image {
    /* padding: 20px 20px 80px 20px; */
}

.modal-image img {
    /* background-color: #ffffff; */
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.modal-footer-left-arrow {
    object-fit: none;
    height: 50px;
    width: 50px;
    object-position: 0px -40px;
}

.modal-footer-right-arrow {
    object-fit: none;
    height: 50px;
    width: 50px;
    object-position: -66px -40px;
}

.modal-footer-left-arrow img {
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
}

.modal-footer-text {
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #62585f;
}

.modal-close {
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close:hover, .modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-close-span {
    /* margin-top: 2px;
    padding-top: 30px; */
}

.image-overlay {
    height: 210px;
    width: 300px;
    background-color: black;
    margin-top: -213px;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
}

.image-overlay:hover {
    opacity: 0.7;
	cursor: pointer;
}

.image-overlay img {
    height: 30px !important;
    width: 30px !important;
    margin-top: 80px;
}

.image-overlay-link-text {
    font-family: 'Open sans';
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    margin-top: 5px;
}