.footer-container{
    /* display: flex; */
    width: 920px;
    margin: auto;
    margin-top: 15px;
    /* justify-content: flex-start; */
    /* padding: 5px; */
}
.footer-flex-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer-container-item{
    margin-right: 50px;
    width: 80%;
}
.para{
    font-family: 'Open sans', sans-serif;
    
    color: #62585f;
    
}
.heading{
    font-size: 25px;
    text-shadow: 2px 2px #ffffff;

}
.content{
    font-size: 14px;
    line-height: 21px;
}
.footer-social-media-icons{
    height: 45px;
    width: 220px;
    object-fit: cover;
    object-position: 0 0;
}
.footer-link{
    font-family: 'Open sans', sans-serif;
    /* font-weight: ; */
    font-size: 14px;
    color: #ef4634;
    text-decoration: none;
}
a.footer-link:hover{
    text-decoration: underline;
}
.footer-hr{
    /* width: 80%;
    margin: auto;
    color: #62585f; */
}