body{
    background: url("../images/rapeatable-bg.png");
}
.single-blog-container{
    display: flex;
    width: 920px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    /* padding: 5px; */
}
.single-blog-main-content-container{
    width: 620px;
}
.single-blog-main-container-header-heading{
    font-family: 'Open sans', sans-serif;
    font-weight: 100;
    font-size: 35px;
    color: #62585f;
    text-shadow: 2px 2px #ffffff;

}
.single-blog-main-content-flexbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.single-blog-main-content-flexbox-item{
    margin-top: 10px !important;
}
.single-blog-main-content-item-para-title{
    font-family: 'Open sans', sans-serif;
    /* font-weight: 100; */
    font-size: 14px;
    font-weight: bold;
    color: #62585f;
    /* line-height: 21px; */
}
.single-blog-main-content-item-para{
    font-family: 'Open sans', sans-serif;
    /* font-weight: 100; */
    font-size: 14px;
    color: #62585f;
    line-height: 21px;
}
.single-blog-main-content-image{
    width: 620px;
    margin-top: 10px;
}
.single-blog-main-content-image img{
    width: 100%;
    border-radius: 3px;
}

.single-blog-main-content-item-heading{
    width: 620px;
    height: 50px;
    background-color: #222222;
    border: 1px solid #ffffff;
    /* opacity: 0.9; */
    border-radius: 3px;
    display: flex;
    
    align-items: center;
}
.single-blog-main-content-item-heading:hover{
    background-color: #ef4634;
}
.date{
    font-family: 'Open sans', sans-serif;
    color: #ffffff;
    margin: 10px;
    align-self: flex-end;
    /* font-size: 25px; */
}
.date-number{
    font-size: 25px;
    /* margin: 3px; */
}
.date-text{
    font-size: 14px;
    line-height: 2px;
    /* margin: 5px; */
}
.single-blog-main-content-item-heading-text{
    font-size: 20px;
    color: #ffffff;
    margin: 10px;
}

.single-blog-main-content-item-flexbox{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.single-blog-main-content-item-img{
    width: 220px;
    height: 153px;
    /* margin-top: 20px; */
    /* border-radius: 10px; */
}

.single-blog-main-content-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.single-blog-main-content-item-text-flexbox{
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.single-blog-main-content-item-text-subflexbox{
    display: flex;
    justify-content: space-between;
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    color: #62585f;
    margin-top: 15px;

}

.single-blog-main-content-item-text-subflexbox-a {
    text-decoration: none;
    color: #ef4634;
}
.single-blog-main-content-item-text-subflexbox-a:hover{
    text-decoration: underline;
}

.single-blog-main-content-item-text-subflexbox-a a{
    text-decoration: none;
    color: #ef4634;
}
.single-blog-main-content-item-text-subflexbox-a a:hover{
    text-decoration: underline;
}
.single-blog-main-content-item-text-para{
    font-family: 'Open  sans', sans-serif;
    font-size: 14px;
    color: #62585f;
    line-height: 21px;
}
.single-blog-main-content-item-text-read-more{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #ef4634;
}
.single-blog-tags{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.single-blog-tags-label{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    color: #62585f;
}
.single-blog-tags-text{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    color: #ef4634;
    margin-left: 3px;
}
.single-blog-tags-text-a{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    color: #ef4634;
    text-decoration: none;
}
.single-blog-tags-text-a:hover{
    text-decoration: underline;
}
.comments-label{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: #62585f;
}
.comments-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.comments-container-items{
    margin-top: 10px;
}
.comments-container-items-author{
    margin-top: 10px;
    background-color: #ffffff;
    padding: 10px;
}
.comments-header{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    color: #62585f;
    display: flex;
    align-items: center;
}
.comment-icon{
    height: 15px;
    width: 15px;
    float: left;
}
.comment-icon img{
    height: 100%;
    width: 100%;
}
.comments-user{
    text-decoration: none;
    color: #ef4634;
    margin-left: 10px;
    line-height: 1px;
}
.comments-user:hover{
    text-decoration: underline;
    /* color: #ef4634; */
}
.comments-text{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #62585f;
    line-height: 21px;
    margin-left: 24px;
    margin-top: 10px;
    
}
.comment-reply{
    float: right;
    display: block;
	text-align: right;
}
.comment-reply a{
	font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #62585f;
	text-decoration: none;
}
.comment-reply-icon{
    height: 10px;
    width: 10px;
    margin-right: 3px;
}
.comment-reply-icon img{
    height: 100%;
    width: 100%;
}
.sidebar-container{
    width: 270px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* background-color: #62585f; */

}
.sidebar-container a{
    font-family: 'Open sans', sans-serif;
    color: #62585f;
    text-decoration: none;
}
.sidebar-container a:hover{
    text-decoration: underline;
}

.post-comment-form{
    margin-top: 20px;
}

.post-comment-form-heading{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: #62585f;
}
.post-comment-form-textbox{
    width: 620px;
    height: 90px;
    background-color: #ffffff;
    border: 1px solid #62585f;
    margin-top: 5px;
}
.post-comment-details-flexbox{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.post-comment-details-label{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #62585f;
}
.post-comment-details-text{
    width: 195px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #62585f;
    margin-top: 10px;
}
.post-comment-details-button{
    
    margin-top: 20px;
    float: right;
}
.post-comment-details-button-submit{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
    background-color: #222222;
    border-radius: 5px;
    border: none;
}
.sidebar-container-items{
    
}
.sidebar-container-item-heading{
    font-family: 'Open sans', sans-serif;
    font-size: 25px;
    color: #62585f;
    text-shadow: 2px 2px #ffffff;
}
.portfolio-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 140px;
}
.portfolio-items{
    width: 60px;
    height: 60px;
    /* border-radius: 5px; */
}
.portfolio-items img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}


.popular-posts-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular-posts-container-items{
    display: flex;
    justify-content: space-between;
}

.popular-posts-container-item-img{
    height: 45px;
    width: 45px;
    /* border-radius: 3px; */
}
.popular-posts-container-item-img img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.popular-posts-container-item-heading{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #62585f;
}
.popular-posts-container-item-heading:hover{
    color: #ef4634;
}
.popular-posts-container-item-text{
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    color: #62585f;
}
.popular-posts-container-item-text-a{
    color: #ef4634;
    text-decoration: none;
}
.popular-posts-container-item-text-a:hover{
    text-decoration: underline;
}

.archive-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.archive-container-items{
    margin-bottom: 10px;
}
.archive-container-item-a{
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    color: #62585f;
}
.archive-container-item-a:hover{
    color: #ef4634;
}

.latest-tweet-container{
    margin-top: 15px;
}
.sidebar-container-item-heading-tweet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-tweet-profile{
    display: flex;
    justify-content: space-between;
}
.latest-tweet-profile-details{
    display: flex;
    width: 135px;
    justify-content: space-between;
}
.latest-tweet-profile-img{
    height: 40px;
    width: 40px;
}
.latest-tweet-profile-img img{
    height: 100%;
    width: 100%;
}
.latest-tweet-profile-name{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #62585f;
}
.latest-tweet-profile-username{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
}
.latest-tweet-profile-username-a{
    text-decoration: none;
    color: #ef4634;
}
.latest-tweet-profile-username-a:hover{
    text-decoration: underline;
}
.latest-tweet-profile-text{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    color: #62585f;
    line-height: 19.5px;
    margin-top: 5px;
}
.facebook-container{
    width: 270px;
    border: 1px solid #eee9ed;
}
.facebook-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4267b2;
}
.facebook-header-text{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    color: #ffffff;
    margin-left: 5px;
}
.facebook-header-logo{
    width: 80px;
    height: 30px;
}
.facebook-header-logo img{
    height: 100%;
    width: 100%;
}
.facebook-section-container{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    
}
.facebook-section-logo{
    height: 50px;
    width: 50px;
    float: left;
}
.facebook-section-logo img{
    height: 100%;
    width: 100%;
}
.facebook-section-designfly{
    margin-left: 60px;
    color: #4267b2;
}
.facebook-section-like-button{
    float: left;
    margin-left: 10px;
    margin-top: 7px;
}
.facebook-section-like-text{
    font-family: 'Open sans', sans-serif;
    margin-left: 120px;
    margin-top:10px;
    font-size: 12px;
}
.facebook-section-like-text2{
    font-family: 'Open sans', sans-serif;
    margin-top:10px;
    font-size: 12px;
}
.facebook-user-profiles-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 240px;
    height: 160px;
    justify-content: space-between;
}
.facebook-user-profiles-image{
    height: 50px;
    width: 50px;
}
.facebook-user-profiles-image img{
    height: 100%;
    width: 100%;
}
.facebook-user-profiles-name{
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 3px;
}
.facebook-footer{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    /* margin-top: 1px; */
}
.facebook-footer-logo{
    height: 30px;
    width: 30px;
    float: left;
}
.facebook-footer-logo img{
    height: 100%;
    width: 100%;
}
.facebook-footer-text{
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    margin-top: 1px;
}
.single-blog-main-content-flexbox p{
	font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #62585f;
    line-height: 21px;
}
